html
{
/*height: 760px;*/
}

body
{
	background-image: url(nuage1.jpg);
	
	background-size: 100%;

}

form
{

position: relative;
margin: auto;
margin-top: 2%;
display: flex;
justify-content:center;
justify-content: space-around;
flex-direction: column;
text-align: center;

}

#bloc1
{
	flex-direction: column;	
}

#container3
{ 
	margin-top: 1%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.scontainer1
{
	display: flex;
	width: 300px;
	flex-direction: center;
}

.scontainer2
{

}

.container1
{
	margin-top: 5%;
display: flex;
justify-content: center;
}

.container2
{
	margin-top: 5%;
display: flex;
justify-content: center;
}


.chall1
{
	height: 350px;
	width: 1200px;
	background-color: grey;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
}


.chall2
{
	height: 350px;
	width: 1200px;
	background-color: grey;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
}

#naruto
{
width: 60%
}

#texte1
{

	height: 220px;
	width: 500px;
}

#texte2
{

	height: 220px;
	width: 500px;
}

label
{
font-family: Chapaza_Italic;
}

@font-face 
{
    font-family: 'Chapaza_Italic';
    src: url('Chapaza_Italic.ttf');
}


#ID
{

border-radius:5px;

}

#MDP
{

border-radius:5px;

}

#mail
{

border-radius:5px;

}	

#bouton
{
border-radius: 5px;	 
}